
<div class="col-6">
<div id="<%=page.id %>" class="card p-0 m-1">
  <div class="card-header"><%= page.name %></div>
  <div class="card-img-top">
    <%= image_tag(page.photo.url, width: "100%", alt: '') if page.photo? %>
  </div>

  <div class="card-body">
    <p class="card-text"><%= raw page.body %></p>
    <p class="card-text"><small class="text-muted">Added <%= time_ago_in_words(page.created_at) %> |

      <% if current_page?('/pages') %>
      <%= link_to 'View site', site_path(page.site_id) %>
      <% else %>
      <%= link_to 'View Page', page_path(page) %>
      <% end %>

    </small>
    <hr>
    <%= link_to "Delete", page_path(page.id), remote: true,
    method: :delete, data: { confirm: "Are you sure?" }, :class => 'btn btn-raised btn-danger mt-3 float-right' %>
  </p>
</div>
</div>
</div>
