<div class="container">
  <h4 class="mt-2 mb-2">Listing all pages for <%= current_user.email %> </h4>
  <div class="jumbotron">
    <%= form_tag(pages_path, method: "get", remote: true) do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search For Page", class: "form-control form-control-lg" %>
    <%= submit_tag "Search", class: "btn btn-primary mt-1", id: 'search-form' %>
    <% end %>
  </div>
  <!-- <div class="row">
    <%= render 'pages/new-page-button' %>
  </div> -->

    <div id="search-results"></div>

  <div id="p-list">
    <div class="row mt-5">
      <%= render @pages %>
    </div>
  </div>
</div>
