<style>
  div {padding-top: 1em}
  span {padding-right: 3%; font-size: 1.6em;}
  .header {padding-left: 10em; padding-bottom: 3em;}
  .inputs {width:30em;}
  .search {width:30%;}
</style>

<div class='header'>

  <div class='page-data' style='padding-top: 2em;'>

    <!-- SEARCH form -->
    <div class='search'>
      <%= form_tag '', method: 'GET' do %>
        <%= text_field_tag 'search', params[:search] %>
        <%= submit_tag 'Search', class: "btn btn-primary btn-lg btn-block"%>
      <% end %>
    </div>

    <h3>Pages:</h3>

    <% @pages.each do |page| %>
      <span class="col-sm-12 col-md-6 col-lg-4">
        <%= link_to page.name, site_page_path(page.site_id, page.id)%>
      </span>

      <span class="col-sm-12 col-md-6 col-lg-4">
        <a class="text-danger bold pointer remove-site"
           data-site-id="<%= page.site_id %>">
          <i class="fa fa-trash"></i>
          <%= link_to "Remove", site_page_path(page.site_id, page.id),
            data: { confirm: "Are you sure?" },
            :class => 'text-danger',
            method: :delete%>
        </a>
      </span><br>
    <% end %>

    <%= render 'pages/new-page-button' if @site.present? %><br><br>
  </div>
</div>