<!-- Attributes of a site are editable -->
<style>
  div {padding-top: 1em}
  .header {padding-left: 10em; padding-bottom: 3em;}
  .inputs {width:30em;}
</style>

<div class='header'>
  <h3><%= @page.name %></h3>

  <div class='page-data'>
    <%= simple_form_for @page, remote: true do |f|%>
      <div class="inputs">
        <%= f.input :name, required: true %>
        <%= f.input :path, required: true %>
        <%= f.input :header, required: true %>
        <%= f.input :body, required: true, as: :text, input_html: {rows: 4} %>
        <%= f.input :photo, required: true %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.input :site_id, as: :hidden %>
      </div>

      <%= submit_tag "Submit Page Data" %>
    <% end %>
  </div>

</div>