<div class="card mb-4 shadow-sm" id="card_<%= site.id %>">
  <div class="card-header">
    <h4 class="my-0 font-weight-normal"><%= site.name %></h4>
  </div>
  <div class="card-body">
    <p class="card-text" >
      <label class="bold" >
        Domain:
      </label>
      <br>
      <span>
        <%= site.domain %>
      </span>
    </p>

    <p class="card-text" >
      <label class="bold" >
        Description:
      </label>
      <br>
      <span class="card-text" >
        <%= truncate(site.description, length: 150) %>
      </span>
    </p>

    <p class="card-text" >
      <label class="bold" >
        Page Count:
      </label>
      <br>
      <span class="card-text" >
        <%= site.pages.length %>
      </span>
    </p>

  </div>

  <!-- delete button links to destroy method,
       updates without hitting refresh, removes site from database.  -->
  <div class="card-footer d-flex flex-row justify-content-between">
    <div >
      <a class="text-danger bold pointer remove-site" data-site-id="<%= site.id %>">
        <i class="fa fa-trash"></i>
        <%= link_to "Delete", site_path(site.id),
          data: { confirm: "Are you sure?" },
          :class => 'text-danger',
          method: :delete%>
      </a>
    </div>
    <div class="ml-3" >
      <%= link_to(site) do %>
        <span class="text-success bold pointer remove-site" data-site-id="<%= site.id %>">
          <i class="fa fa-glasses"></i>
          View
        </span>
      <% end %>
    </div>
  </div>
</div>