<!-- Attributes of a site are editable -->
<style>
  div {padding-top: 1em}
  .header {padding-left: 10em; padding-bottom: 3em;}
  .inputs {width:30em;}
</style>

<div class='header'>
  <h3>Site: <%= @site.domain %></h3>

  <div class='site-data'>
    <%= simple_form_for @site, remote: true, html: { id: :site_form } do |f|%>
      <div class="inputs">
        <%= f.input :name, required: true %>
        <%= f.input :domain, required: true %>
        <%= f.input :description, required: true %>
      </div>
      <div>
        <%= submit_tag "Submit Site Data" %>
      </div>
    <% end %>
  </div>


  <div class='page-data'>
    <% @pages.each do |page| %>
      <%= link_to page.name, page_path(page.id) %>
      <%= link_to "[remove]", page_path(page.id), {method: :delete} %><br>
    <% end %>

    <%= render 'pages/new-page-button', site_id: @site.id %><br><br>
  </div>


</div>